
<div class="wrapper">
    <div class="col-xs-0 col-sm-0 col-lg-2 col-md-3">
        <menu-component></menu-component>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
        <div class="container">
            <div class="row" style="display: block;">
                <header-component></header-component>
            </div>
            <div class="row" style="display: block;">
                <my-list-component></my-list-component>
            </div>
        </div>
    </div>
</div>