<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{material.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{material.img}}" alt="image">
    <mat-card-actions>
       <div class="container-footer">
           <div class="row">
               <div class="col-xs-6">
                   <a href="#" class="link">{{material.link}}</a>
               </div>
               <div class="col-xs-6" style="text-align: right">
                   <a class="iconBtn"><i class="material-icons">delete</i></a>
                   <a class="iconBtn"><i class="material-icons">star</i></a>
               </div>
           </div>
       </div>
    </mat-card-actions>
</mat-card>